.margin-row {
	margin: 20px 0;
}

body {
	padding: 0;
}

.main-logo {
	height: 250px;
	background: url(/Content/Images/logo.jpg) no-repeat #fff;
}

.without-margins {
	margin: 0;
}

.login-panel {
	width: 400px;
	margin: 50px auto;
}

.carousel-custom {
	height: 250px;
	overflow:hidden;
	width:500px;
	float:right;
}
