<link href="/Content/Pages/Main/main.css" rel="stylesheet" />

	<div class="row margin-row">
		<div class="col-xs-2">
			<form>
				<div class="form-group">
					<input type="text" ng-model="queryString" class="form-control " placeholder="ФИО, должность, телефон" />
				</div>
			</form>
		</div>
		<div class="col-xs-10">
			<button class="btn btn-success" ng-click="add()"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
		</div>
	</div>
	<div class="row margin-row">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ФИО</th>
						<th>Должность</th>
						<th>Телефон</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="doctor in doctors | searchFilter : queryString : ['fullName','position','phone']">
						<td ng-bind="doctor.fullName">  </td>
						<td ng-bind="doctor.position">  </td>
						<td ng-bind="doctor.phone">  </td>
						<td>
							<button ng-click="delete()" title="Удалить" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span></button>
							<button title="Редактировать" ng-click="edit(doctor)" class="btn btn-success pull-right"><span class="glyphicon glyphicon-edit"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>