<div class="row text-center">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-5 control-label">Логин</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" id="inputEmail3" ng-model="account.username" placeholder="Логин">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-5 control-label">Пароль</label>
			<div class="col-sm-7">
				<input type="password" class="form-control" ng-model="account.password" id="inputPassword3" placeholder="Пароль">
			</div>
		</div>
		<div class="form-group">
			<label for="role" class="col-sm-5 control-label" >Роль</label>
			<div class="col-sm-7 text-left">
				<select class="form-control" id="role" ng-model="account.role">
					<option value="1">Пациент</option>
					<option value="2">Врач</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-2">
				<button type="submit" class="btn btn-default form-control" ng-click="register()">Регистрация</button>
			</div>
		</div>
	</form>
</div>
